.popup-menu {
  box-sizing: border-box;
}

.popup-menu::-webkit-scrollbar {
  width: 8px;
}

.popup-menu::-webkit-scrollbar-track {
  background: transparent;
}

.popup-menu::-webkit-scrollbar-thumb {
  background: var(--odl-grey-600);
  border-radius: 4px;
}

.popup-menu::-webkit-scrollbar-thumb:hover {
  background: var(--odl-grey-700);
}

.popup-menu-item {
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.popup-menu-item--disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.popup-menu-item-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-menu-item-label {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.popup-menu-divider {
  box-sizing: border-box;
}